.bodyZone {
  padding:10px;
  height:90%;
  width:100%;
}

.bodyLeft {
  background-color : #e6e6e6;
  height:100%;
}

.bodyRight {
  background-color : #e6e6e6;
  height:100%;
}

.bodyCenter {
  background-color: #e6e6e6;
  height:100%;
}